.nav-link:hover{
    background-color:rgba(171, 171, 171, 0.274);
}

.nav-link{
    background-color: rgba(0, 0, 0, 0)
}


.nav-item a{
    color:white;
    padding: 16px;
    font-family: 'Quicksand', sans-serif;
}

#title_header{
    color:white;
    margin-left: 1%;
    font-family: 'Nixie One', cursive;
    font-size: 25px;
}

#header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 99;
}


