<app-header></app-header>

<div class="container">
  <div class="container-fluid text-center">
      <img class="img-fluid" src = "assets/logo_swapper.png">
      <h1 class="display-4">Cadastrar produto</h1>
      <form #form="ngForm" (ngSubmit)="cadastrarProduto(form)">
          <div class="form-group">
            <label for="exampleInputEmail1">Nome produto</label>
            <input class="form-control" placeholder="Nome do produto" ngModel name="nome">
          </div>
          <div class="form-group">
            <label>Descrição</label>
            <input class="form-control" placeholder="Descrição do produto" ngModel name="descricao">
          </div>
          <div class="form-group">
              <label>Quantidade</label>
              <input class="form-control" placeholder="Ex: 5" ngModel name="quantidade">
          </div>
          <div class="form-group">
              <div class="dropdown">
                  <label>Categoria</label>
                  <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Opções</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" ngModel name="categoria">
                    <option selected>Escolher</option>
                    <option value="eletrônicos">Eletrônicos</option>
                    <option value="roupas">Roupas</option>
                    <option value="esportes">Esportes</option>
                    <option value="automóveis">Automóveis</option>
                    <option value="ferramentas">ferramentas</option>
                    <option value="casa">Casa e Lazer</option>
                  </select>
                </div>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>  
  </div>
</div>