.container-fluid{
    padding: 2rem 2rem 1rem 2rem;
    width: 50%;
    background-color: #2e4e43;
    color: white;
    
}

.container{
    padding: .2rem;
    padding-top: 3.8rem;
    background-color: #c9ded6;
    max-width: 100%;
    min-height: 100%;
}

.img-fluid{
    height: 100px;
    width: 100px;
}

.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #00ffa5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #24987c;
}

.custom-select:focus{
    color: #495057;
    background-color: #fff;
    border-color: #00ffa5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #24987c;
}
