.container-fluid{
    padding: 2rem 2rem 1rem 2rem;
    width: 50%;
    background-color: #31755e;
    color: white;
    
}

.container{
    padding: .2rem;
    padding-top: 3.8rem;
    background-color: #c9ded6;
    max-width: 100%;
    min-height: 100%;
}

.img-fluid{
    height: 100px;
    width: 100px;
}
