<div class="container">
  <img src = "assets/logo_swapper.png" class="img-fluid" alt="Responsive image">
  <h1 class="display-4">Login</h1>
  <form #f="ngForm" (ngSubmit)="loginVerify(f)">
        <div class="form-group">
          <label for="exampleInputUsername">Username</label> 
          <i id="iconUser" class="fas fa-user"></i>
          <input #username class="form-control" id="exampleInputUsername" placeholder="Username" ngModel name="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <i  id="iconPassword" class="fas fa-key"></i>
          <input #senha type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" ngModel name="password">
        </div>
        
        <div>
            <button id="btnEntrar" type="submit" class="btn btn-primary btn-light">Entrar</button>
            <div class="regs">
                <label id="lblReg" for="lblRegs">Não possui conta ?</label>
                <button routerLink="/userRegister" id="btnReg" type="submit" class="btn btn-primary btn-light">Registrar-se</button>
            </div>
        </div>
      </form>
</div>
  