.card-header{
    padding: .2rem 1.25rem;
}

.list-group-item{
    padding: 0;
}

#btnOfertas{
    width: 100%;
    padding: .5rem;
}

#btnOfertas:hover{
    background-color: #096679;
    cursor: pointer;
    color: white;
    transition: .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#anuncioID{
    display:none;
}

.anunciosInfo{
    padding: 1rem 1rem;
    background-color: #909da0;
    color:  white;
    margin-bottom: 1px;
}

.anunciosInfo:hover{
    cursor: pointer;
    background-color: #2d2d2d;
    transition: .4s;
    color: white;
}

.container{
    max-width: 900px;
    padding: 2rem;
}

label{
    display: none;
}

.modal-header{
    background-color: #3e443f;
    color: white;
    font-family: sans-serif;
}

.img-fluid{
    width: 15rem;
}

.h4{
    font-family: unset;
}