<div class="container-fluid text-center">
  <div class="title">
      <h1 class="display-4">Seus anúncios</h1>
  </div>
  <div class="container" >
    <button routerLink="/lista/anuncio/0" type="button" class="btn btn-dark btn-lg">Novo anúncio</button>
    <br>
    <br>
    <div class="accordion" id="accordionExample">
        <div *ngFor="let anuncio of anuncios; let i = index">
          <a (click)="getOfertas(id.innerHTML)" data-toggle="collapse" attr.data-target="#collapse{{i}}">
              <label #id id='anuncioID'> {{ anuncio.id }} </label>
              <div class="anunciosInfo">
                  <div class="row justify-content-center">
                      <div class="col-4">
                          <i class="far fa-caret-square-right"></i>  {{ anuncio.nome }} 
                      </div>
                      <div class="col-4">
                          <i class="far fa-calendar-alt"></i> Data: 03/12/2018
                      </div>
                   </div>
              </div>
          </a>

          

          <div id="collapse{{i}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
            <h1> Ofertas recebidas </h1>
            
            <div *ngIf=" propostas.length == 0">
                <br>
                Nenhuma oferta recebida 
                <br>
            </div>
            <br>

            <ul class="list-group list-group-flush">
              <li class="list-group-item"  *ngFor="let proposta of propostas">
                <div class="propostasRecebidas">
                    <div class="row">
                      <label #idProduto > {{ proposta.id_produto}} </label>
                      <label #idOfertante > {{ proposta.dono_ofertado}} </label>
                      <label #idAnuncio > {{ proposta.anuncio_id }} </label>
                        <a (click)="getInfo(idProduto.innerHTML, idOfertante.innerHTML, idAnuncio.innerHTML)" id="btnOfertas" class="" data-toggle="modal" data-target="#exampleModalCenter">
                            {{ proposta.nome_produto }}
                         </a>
                      </div>
                  </div>
                </li>
              </ul>
          </div>
        </div>
      </div>
</div>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngFor="let produto of produtos">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">DETALHES DA OFERTA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h5>Produto Ofertado</h5>
          <hr>

          <div class="col-md-8">
              <div class="row">
                 <h5><b>Nome produto:</b> {{ produto.nome }} </h5>
              </div>
              <div class="row">
                 <h5><b>Descrição:</b>  {{ produto.descricao }} </h5> 
              </div>
              <div class="row">
                 <h5><b>Quantidade:</b> {{ produto.quantidade }} </h5>
              </div>
            </div>
            <hr>
            <h5>Ofertante</h5>
            <hr>
            <div class="col-md-8">
              <div class="row">
                 <h5><b>Nome ofertante:</b> </h5>
                 <h5><b>Sobrenome:</b>  </h5>
              </div>
              <div class="row">
                 <h5><b>Email:</b>  </h5> 
              </div>  
            </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Recusar</button>
        <button type="button" class="btn btn-success">Aceitar</button>
      </div>
    </div>
  </div>
</div>

  