<div class="header">
    <app-header></app-header>
</div>

<div class="bgRegistrar">
    <div class="logo">
        <img src = "assets/logo_swapper.png" class="img-fluid" alt="Responsive image">
        <h1 class="display-4">Insira seus dados</h1>
    </div>

    <div class="container">
          <form #form="ngForm" (ngSubmit)="cadastrarUsuario(form)">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputNome">Nome</label>
                  <input class="form-control" id="inputNome" placeholder="Nome" name="Nome" ngModel>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputSobrenome">Segundo Nome</label>
                  <input class="form-control" id="inputSobrenome" placeholder="Sobrenome" name="Sobrenome" ngModel>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Exemplo@email.com" name="Email" ngModel>
              </div>
              <div class="form-group">
                <label for="inputSenha">Senha</label>
                <input type="password" class="form-control" id="inputSenha" placeholder="Senha" name="Senha" ngModel> 
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEndereco">Endereço</label>
                  <input class="form-control" id="inputEndereco" placeholder="Endereço" name="Endereco" ngModel>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputNro">Número</label>
                  <input class="form-control" id="inputNro" placeholder="Nº" name="Numero" ngModel>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputCidade">Cidade</label>
                  <input type="text" class="form-control" id="inputCidade" placeholder="Cidade" name="Cidade" ngModel>
                </div>
              </div>
              <div class="btnCadastrar">
                  <button type="submit" class="btn btn-secondary">Cadastrar-se</button>
              </div>
            </form>
      </div>
</div>
    






