.bgRegistrar{
    padding-top: 65px;
    background: #4e7699; 
    height: auto;
    min-height: 100%;
    width: 100%;
}

.container-fluid{
    width: 75%;
    padding: 10px;
}

.bgRegistrar > *{
    color: white;
}

.img-fluid{
    width: 120px;
    height: 120px;
}

.logo{
    text-align: center;
}

.btnCadastrar{
    text-align: center;
}

.btn{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    background-color: #48c38f;
}

.btn:disabled{
    background-color: rgb(66, 65, 65);
}

.ng-invalid.ng-touched:not(form){
    border: 1.5px solid red;
}

.ng-valid.ng-touched:not(form){
    border: 1.5px solid rgb(58, 216, 98);
}

.invalidInput{
    color:#fd8994;
}

.validInput{
    color:#66f566;
}
