<div class="header">
    <app-header></app-header>
</div>

<div class="bgRegistrar">

  <div class="container-fluid">
      <div class="logo">
          <img src = "assets/logo_swapper.png" class="img-fluid" alt="Responsive image">
          <h2>Insira seus dados</h2>
      </div>
  
      <div class="container">
            <form #form="ngForm" (ngSubmit)="cadastrarUsuario(form)">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input class="form-control" id="inputNome" placeholder="Nome" name="nome" ngModel required minlength="2" #nome="ngModel">
                    <div class="invalidInput" *ngIf="!nome.valid && nome.touched">
                      Campo inválido
                    </div>
                    <div class="validInput" *ngIf="nome.valid && nome.touched">
                      Aceito
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputSobrenome">Segundo Nome</label>
                    <input class="form-control" id="inputSobrenome" placeholder="Sobrenome" name="sobrenome" ngModel required minlength="2" #sobrenome="ngModel">
                    <div class="invalidInput" *ngIf="!sobrenome.valid && sobrenome.touched">
                      Campo inválido
                    </div>
                    <div class="validInput" *ngIf="sobrenome.valid && sobrenome.touched">
                      Aceito
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputUserName">Nome de usuário</label>
                    <input class="form-control" id="inputUserName" placeholder="Nome de usuário" name="usuario" ngModel required minlength="3" #userName="ngModel">
                    <div class="invalidInput" *ngIf="!userName.valid && userName.touched">
                      Campo inválido
                    </div>
                    <div class="validInput" *ngIf="userName.valid && userName.touched">
                      Aceito
                    </div>
                  </div>
                </div>
  
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Exemplo@email.com" name="email" ngModel required email #email="ngModel">
                        <div class="invalidInput" *ngIf="!email.valid && email.touched">
                          Campo inválido
                        </div>
                        <div class="validInput" *ngIf="email.valid && email.touched">
                          Aceito
                        </div>
                      </div>
  
                      <div class="form-group col-md-6">
                          <label for="inputCelular">Celular</label>
                          <input class="form-control" id="inputCelular" placeholder="(DDD) XXXX-XXXX" name="celular" ngModel required #celular="ngModel">
                          <div class="invalidInput" *ngIf="!celular.valid && celular.touched">
                            Campo inválido
                          </div>
                          <div class="validInput" *ngIf="celular.valid && celular.touched">
                            Aceito
                          </div>
                      </div>
                </div>
          
                <div class="form-group">
                  <label for="inputSenha">Senha</label>
                  <input type="password" class="form-control" id="inputSenha" placeholder="Senha" name="senha" ngModel require minlength="4" #senha="ngModel">
                  <div class="invalidInput" *ngIf="!senha.valid && senha.touched">
                    Campo inválido
                  </div>
                  <div class="validInput" *ngIf="senha.valid && senha.touched">
                    Aceito
                  </div> 
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEndereco">Endereço</label>
                    <input class="form-control" id="inputEndereco" placeholder="Endereço" name="endereco" ngModel required minlength="4" #end="ngModel">
                    <div class="invalidInput" *ngIf="!end.valid && end.touched">
                      Campo inválido
                    </div>
                    <div class="validInput" *ngIf="end.valid && end.touched">
                      Aceito
                    </div> 
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputNro">Número</label>
                    <input class="form-control" id="inputNro" placeholder="Nº" name="numero" ngModel required #num="ngModel">
                    <div class="invalidInput" *ngIf="!num.valid && num.touched">
                      Campo inválido
                    </div>
                    <div class="validInput" *ngIf="num.valid && num.touched">
                      Aceito
                    </div> 
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputCidade">Cidade</label>
                    <input class="form-control" id="inputCidade" placeholder="Cidade" name="cidade" ngModel required #cidade="ngModel">
                    <div class="invalidInput" *ngIf="!cidade.valid && cidade.touched">
                      Campo inválido
                    </div>
                    <div class="validInput" *ngIf="cidade.valid && cidade.touched">
                      Aceito
                    </div> 
                  </div>
                </div>
                <div class="btnCadastrar">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Cadastrar-se</button>
                </div>
              </form>
        </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 *ngIf="error" class="modal-title" id="exampleModalLabel">ERRO ENCONTRADO</h2>
        <h2 *ngIf="!error" class="modal-title" id="exampleModalLabel">SUCESSO</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            {{ response }}
        </div>  
      </div>
    </div>
  </div>
</div>

