<app-header></app-header>

<div class="container-fluid text-center">
  <div class="title">
      <h1 class="display-4">Anúncios realizados</h1>
  </div>
  <div class="subTitle">
    <h2> {{ categoria }} </h2>
  </div>

  <div class="container">
      <div class="card" style="width: 13rem;">
          <img class="card-img-top" src="./assets/exemplo.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">De: nome anunciador</p>
          </div>
        </div>
  </div>
</div>
