<app-header></app-header>

<div class="container-fluid text-center">
  <div class="title">
      <h1 class="display-4">Anúncios realizados</h1>
  </div>
  <div class="subTitle">
    <h2> {{ categoria }} </h2>
    <br>
    <hr>
  </div>

  <div class="container">
     <div class="row justify-content-center">

            <h1 class="display-5" *ngIf="anuncios.length == 0">
                Nenhum anúncio criado nessa categoria
            </h1>
            <div (click)="setRota(anuncioID.innerHTML)" class="card" *ngFor=" let anuncio of anuncios">
                <img class="card-img-top" src="./assets/exemplo.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <label #anuncioID class="lblAnuncioID">  {{ anuncio.id }} </label>
                        <h5 class="card-title">{{ anuncio.nome }}</h5>
                    </div>
                    <div class="row justify-content-center">
                        <h5>
                            Anunciador
                            <small class="text-muted"> {{ anuncio.nome }} </small>
                        </h5>
                    </div>
                    <div class="row justify-content-center">
                        <h5>
                            Data:
                            <small class="text-muted"> 07/12/2018 </small>
                        </h5>
                    </div> 
                
                </div>
            </div>
     </div>
  </div>
</div>
