<div class="corpo">
  <div class="header">
        <app-header> </app-header>
  </div>
    
  <div class="introdução">
        <app-body-main></app-body-main>
  </div>
</div>
   
<div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
      <h1>Com Swapper você</h1>
      <hr class="my-4">
      <div class="carousel-inner text-center">
            <div class="carousel-item active">
                  <img id="img1" src = "assets/img_1.png" class="img-fluid">
                  <h2>Anuncia seus produtos em um clique</h2>
            </div>
            <div class="carousel-item">
                  <img id="img2" src = "assets/img_2.png" class="img-fluid">
                  <h2>Recebe ofertas de diversas pessoas</h2>
            </div>
            <div class="carousel-item"> 
                  <img id="img3" src = "assets/img_3.png" class="img-fluid">
                  <h2>Encontra o produto que satisfaz suas necessidades</h2> 
            </div>
            <div class="carousel-item">  
                  <img id="img3" src = "assets/img_4.png" class="img-fluid">
                  <h2>Desapega do velho e ganha o novo</h2>
            </div>

      </div>
      
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
</div>

<div class="categorias">
      <app-categorias-main></app-categorias-main>
</div>



 



