<div class="container-fluid text-center">
    <div class="content" *ngFor="let produto of produtos">
         <div class="card">
            <div class="card-header">
                <label #idValue id="id"> {{produto.id}} </label>
                <h5 #name class="card-title"> {{produto.nome}} </h5>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-4">
                        <img class="img-fluid" src='assets/exemplo.jpg/' alt="Card image cap">
                    </div>
                    <div class="col-8">
                            <div class="row justify-content-start">
                                 <p class="lead"> {{ produto.descricao }} </p>       
                             </div>

                            <div class="row justify-content-start">
                                <p class="lead"> {{ produto.categoria }} </p>       
                            </div>

                            <div class="row justify-content-start">
                                    <h5>
                                        Quantidade:
                                        <small class="text-muted"> {{ produto.quantidade }} </small>
                                    </h5>       
                            </div>
                    </div>
                </div>

                <div class="bottomCardBody">
                    <button (click)="criarAnuncio(idValue.innerHTML)" class="btn btn-dark">Selecionar</button>
                    <hr>
                </div>

                

            </div>
         </div>
    </div>
</div>

