.card{
    width: 15rem;
    margin: 10px;
}

#btn-border-not-blue{
  box-shadow: none;
}

#detailImage{
    width: 150px;
    height: 150px;
}

#btnVerMais{
    margin: 15px;
    padding: 0.5rem 2.5rem;
}

#btnNovoProduto{
    margin: 15px;
}

#id{
    display:none;
}

.modal-content{
    background-color: #066a79;
    color: white;
    font: arial;
}

#close{
    color:white;
}

.jumbotron{
    padding: 3.5rem 2rem;
}