<div class="corpoCategorias">
  <h1>Navegue por nossas categorias</h1> 
  <hr>
  
  <div class="container">
      <div id="linha-1" class="row">
        <div class="col">
          <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">
              <i class="fas fa-laptop fa-6x"></i>
              <h4>Eletrônicos</h4>
          </a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">
                <i class="fas fa-motorcycle fa-6x"></i>
                <h4>Automóveis</h4>
            </a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">
                <i class="fas fa-tshirt fa-6x"></i>
                <h4>Roupas</h4>
            </a>
        </div>
      </div>
      <div id="linha-2" class="row">
        <div class="col">
            <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">
                <i class="fas fa-volleyball-ball fa-6x"></i>
                <h4>Esportes</h4>
            </a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">
                <i class="fas fa-wrench fa-6x"></i>
                <h4>Ferramentas</h4>
            </a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">
                <i class="fas fa-home fa-6x"></i>
                <h4>Móveis</h4>
            </a>
        </div>
      </div>
    </div>
</div> 
